body {
    background-color: hsl(185, 75%, 39%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

}

.card-container{
    border-radius: 20px 20px 20px 20px ;
    background: white;
    width: 450px;
    height: 430px; 
    box-shadow:inset;
    position: relative;
    z-index: 3;
}


header{
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
}

header .cover{
    width: 450px;
    height: 160px;
    position: relative;
    z-index: 0;
    border-radius: 20px 20px 0 0 ;
}

header .image-profile{
    position: relative;
    border-radius: 50%;
    border: solid 5px white;
    z-index: 1;
    top: -60px;
}

main{
    /* background: green; */
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -45px;
}

.personal-info{
    /* background: red; */
    width: 200px;
    display: flex;
   justify-content: center;  
}

.name,
.age{ 
    margin: 5px;
    font-family: 'Kumbh Sans', 'sans-serif' ;
    font-size: 18px;    
}

.age{
    font-weight: 400;
    color:hsl(227, 10%, 46%);

}


h2, h3{
    font-family: 'Kumbh Sans', 'sans-serif' ;   
}

.location {
    font-size: 16px;
    color:hsl(227, 10%, 46%);
    font-weight: 400;
    margin-top: 2px;
}

footer{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 55px;
    margin-top: 15px;
    border-top: 1px solid hsl(227, 10%, 46%, 0.3);
    
}

h2{
    font-size: 18px;
}

.info-card{
    /* background-color: green; */
    text-align: center;
    margin-top: 9px;

}

h3{
    font-size: 13px;
    letter-spacing: 1px;
    color:hsl(227, 10%, 46%);
    font-weight: 400;
    margin-top: -7px;
}



.bg-top {
    position: relative;
    max-width: 800px;
    height: auto;
    left: -490px;
    top: 311px;
  }

.bg-bottom {
    position: relative;
    max-width: 800px;
    height: auto;
    top: -177px;
    right: -418px;
  }